
.header {

  .row {
    height: 40px;

    & * {
      height: 100%;
    }
  }


  // menu
  .menu {
    width: 100%;
    height: 100%;

    ul {
      display: flex;
      align-items: center;

      li {
        &, a, span {
          align-items: center;
          display: flex;
        }

        line-height: .9;
        height: 20px;


        &:not(.icon) {
          padding: 0 20px;
          border-right: 1px solid white;

          &:last-child {
            border-right: none;
            padding: 0 0 0 20px;
          }
        }

        &.icon {
          padding-left: 42px;
        }

      }
    }
  }
}


.header-transparent {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin-top: 30px;

  .menu ul li:not(.icon) {
    //border-right: 1px solid rgba(255, 255, 255, 0.37);
    border-right: none;
  }
}

.header-static {
  position: relative;
  margin-top: 0;
  padding-top: 55px;
  padding-bottom: 55px;
  background: #fff;


  &.off {
    //transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  transition: all 0.5s ease-in-out;
  &.fast {
    transition: all 0.45s ease;
  }


  .menu li {
    transition: all 0.5s ease-in-out;
    color: #000 !important;
    font-weight: 600;
    font-family: Lato, serif;

    &.icon {
      padding-left: 30px !important;
    }
  }
}

.wrap-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.wrap {
  opacity: 0;
  position: relative;
  z-index: 10;
}

.wrap-top .header-static {
  &.sticked {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
